<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Asistant {{assistantName}} is in contact with you. Ask questions about your {{issue}} issue!</p>
    </div>
    {{>author}}
</body>
</html>